.parent {
    display: grid;
    place-items: center;


    height: 500px;

    resize: both;
    overflow: auto;
}

.child {
// etc.
padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid lightpink;
    background: lightpink;
    font-size: 2rem;
    text-align: center;
}

body {
    font-family: system-ui, serif;
}