 .input {
font-family: Montserrat,sans-serif;
padding: 5px;
margin-top: 10px;
display: block;
border: none;
}
/* .superInput:focus{
width: 90%;
background-color: blue;
border: none;
border-radius: 4px;
} */
input[type=text]:focus {
  background-color: rgba(36, 24, 72, 0.5) ;
  width: 90%;
  border: none;
color: white;
font-size: 18px;
}
