.default {
    margin: 10px;
    text-decoration: none;
    background:  rgba(60, 74, 124, 0.7);
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
}
.default:hover{
background: #FFBD65;
}
.red {
    background: red;
}